@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

body {
  background-color: #FEE3EC; }

a {
  text-decoration: none;
  color: black; }

.header .logo img {
  box-shadow: 4px 5px 5px 0 gray; }

.header .nav-bar a:hover {
  color: #fff;
  transform: scale(1.1);
  transition: all 0.15s; }

.main-cards .card {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.15s; }

.main-cards .card:hover {
  transform: translate(4px, -1%); }

.web-container {
  max-width: 1200px;
  min-width: 320px;
  min-height: 100vh;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px; }

.header {
  background: #F9C5D5;
  height: 7.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid #fff; }
  .header .logo {
    flex: 1 1 auto;
    width: 50px;
    height: auto; }
    .header .logo img {
      width: 6rem;
      object-fit: contain;
      margin: auto;
      display: block;
      border-radius: 50%; }
  .header .nav-bar {
    flex: 2 1 auto;
    display: flex;
    justify-content: space-evenly; }
    .header .nav-bar a {
      letter-spacing: 3px;
      font-weight: 400;
      color: rgba(120, 70, 161, 0.801); }
  .header .fa-bars {
    display: none; }

.main {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 13px; }
  .main .banner-offer {
    background-color: #2F8F9D;
    height: 180px; }
    .main .banner-offer img {
      width: 100%;
      height: 100%; }
  .main .main-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; }
    .main .main-cards .card {
      background-color: #fff;
      height: 250px;
      border: 1px solid black;
      border-radius: 15px;
      flex: 1 1 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .main .main-cards .card .pic-home {
        width: 40%;
        overflow: hidden;
        height: 250px;
        padding: 5px; }
        .main .main-cards .card .pic-home img {
          border-radius: 15px;
          width: 100%;
          height: 100%; }
      .main .main-cards .card .card-description {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px; }
        .main .main-cards .card .card-description h3 {
          letter-spacing: 3px; }
        .main .main-cards .card .card-description p {
          font-weight: 300; }
    .main .main-cards .card:nth-child(even) .card-description {
      order: -1;
      margin-left: 20px; }
    .main .main-cards .card-section {
      flex: 1 1 40%; }
      .main .main-cards .card-section .pic-home {
        width: 80%; }
    .main .main-cards .card-section:nth-child(even) .card-description {
      order: 0; }
  .main .banner-ads {
    background-color: #DDDDDD;
    height: 160px; }
    .main .banner-ads img {
      width: 100%;
      height: 100%; }
  .main .contact-container {
    margin: 15px 0;
    display: flex;
    align-items: flex-start;
    gap: 40px; }
    .main .contact-container .contact-form {
      flex: 1 1 40%; }
      .main .contact-container .contact-form h3 {
        margin-bottom: 20px;
        font-weight: 400; }
    .main .contact-container .contact-info {
      background-color: #fff;
      flex: 1 1 20%;
      height: 550px;
      border-radius: 15px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); }
      .main .contact-container .contact-info h3 {
        margin: 30px 0; }
      .main .contact-container .contact-info .img-info {
        width: 100%;
        height: 80%; }
        .main .contact-container .contact-info .img-info img {
          width: 100%;
          height: 100%; }

.footer {
  height: 5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px; }
  .footer .social-networks img {
    width: 1.5rem;
    margin: 0 6px; }
  .footer .copyright p {
    font-size: .8rem; }

@media screen and (max-width: 800px) {
  .header {
    height: 6.5rem; }
    .header .logo img {
      width: 5rem; }
    .header .nav-bar a {
      letter-spacing: 0; }
  .main .main-cards .card {
    flex: 1 1 40%;
    flex-direction: column; }
    .main .main-cards .card .pic-home {
      width: 100%; }
    .main .main-cards .card .card-description p {
      display: none; }
  .main .main-cards .card:nth-child(even) .card-description {
    order: 0; }
  .main .contact-container {
    flex-direction: column;
    align-items: center; }
    .main .contact-container .contact-form {
      width: 80%; }
      .main .contact-container .contact-form h3 {
        text-align: center; } }

@media screen and (max-width: 600px) {
  .header .logo {
    flex: 1 1 auto; }
  .header .nav-bar {
    display: none; }
  .header .fa-bars {
    display: block;
    flex: 1 1 auto;
    text-align: center; }
  .main .banner-offer {
    display: none; }
  .main .banner-ads {
    display: none; } }

@media screen and (max-width: 480px) {
  .main .main-cards {
    flex-direction: column; } }
