// imports
@import "utilities/variables";
@import "base/fonts";
@import "base/base";


// Seccion PADRE
.web-container {
    max-width: $max-width;
    min-width: $min-width;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

// Seccion HEADER

.header {
    background: #F9C5D5;
    
    height: $header-height;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #fff;
    

    .logo {
        // background-color: #242F9B;
        flex: 1 1 auto;
        width: 50px;
        height: auto;

        img {
            width: 6rem;
            object-fit: contain;
            margin: auto;
            display: block;
            border-radius: 50%;
        }
    }

    .nav-bar {
        // background-color: #646FD4;
        flex: 2 1 auto;
        display: flex;
        justify-content: space-evenly;


        a {
            letter-spacing: 3px;
            font-weight: 400;
        }

        a:hover {
            color: #fff;
        }
    }

    .fa-bars {
        display: none;
    }
}

// Seccion del MAIN
.main {
    // background-color: #EDD2F3;
    display: flex;
    flex-flow: column nowrap;
    gap: 13px;

    // Seccion banner ofertas
    .banner-offer {
        background-color: #2F8F9D;
        height: $offer-height;

        img {
            width: 100%;
            height: 100%;
        }
    }



    // Seccion CARDS
    .main-cards {
        // background-color: #FF8C32;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        .card {
            // background-color: #5800FF;
            background-color: #fff;
            height: $card-heigth;
            border: 1px solid black;
            border-radius: 15px;
            flex: 1 1 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }

        .pic-home {
            // flex: 1 1 30%;
            width: 40%;
            overflow: hidden;
            height: $card-heigth;
            padding: 5px;

            img {
                border-radius: 15px;
              
                width: 100%;
                height: 100%;
            }
        }

        .card-description {
            // flex: 1 1 50%;
            width: 50%;
        }
    }

    // Seccion banner publicidad
    .banner-ads {
        background-color: #DDDDDD;
        height: $ads-height;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

// Seccion de FOOTER
.footer {
    // background-color: #fff;
    height: $footer-height;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .social-networks {
        // background-color: #E900FF;

        img {
            width: 1.5rem;
            margin: 0 6px;
        }
    }

    .copyright {
        // background-color: #FFC600;
    }
}

@import "utilities/media-queries";
