// Seccion de MEDIAS QUERIES
@import "variables";

// ------------- MQ 800px -------------
@media screen and (max-width: 800px) {

    .header {
        height: $header-height-mob;
        .logo {
            img {
                width: 5rem;
            }
        }

        .nav-bar {
            a {
                letter-spacing: 0;
            }
        }
    }

    .main {
        .main-cards {

            .card {
                flex: 1 1 40%;
                flex-direction: column;

                .pic-home {
                    width: 100%;
                }

                .card-description {
                    p {
                        display: none;
                    }
                }
            }

            .card:nth-child(even) .card-description {
                order: 0;
            }
        }
    }
}

// ------------- MQ 600px -------------
@media screen and (max-width: 600px) {
    .header {
        
        .logo {
            flex: 1 1 auto;
        }

        .nav-bar {
            display: none;
        }

        .fa-bars {
            display: block;
            flex: 1 1 auto;
            text-align: center;
        }
    }


    .main {
        .banner-offer {
            display: none;
        }

        .banner-ads {
            display: none;
        }
    }
}

// ------------- MQ 480px -------------
@media screen and (max-width: 480px) {
    .main {
        .main-cards {
            flex-direction: column;
        }
    }
}