// Seccion de MEDIAS QUERIES

// ------------- MQ 800px -------------
@media screen and (max-width: 800px) {
    .main {
        .main-cards {

            .card {
                flex: 1 1 40%;
            }
        }
    }
}

// ------------- MQ 600px -------------
@media screen and (max-width: 600px) {
    .header {
        
        .logo {
            flex: 1 1 auto;
        }

        .nav-bar {
            display: none;
        }

        .fa-bars {
            background-color: #00B4D8;
            display: block;
            flex: 1 1 auto;
            text-align: center;
        }
    }


    .main {
        .banner-offer {
            display: none;
        }

        .banner-ads {
            display: none;
        }
    }
}

// ------------- MQ 480px -------------
@media screen and (max-width: 480px) {
    .main {
        .main-cards {
            flex-direction: column;
            .card {

            }
        }
    }
}