// Declaracion de variables del proyecto

// Anchura maxima del contenido desktop
$max-width: 1200px;
$min-width: 320px;

// ------------- Colores --------------
$primary-color     : #FFEEEE;
$primary-color-alt : #FFF6EA;

// ------------- Tamaños --------------
$header-height: 8rem;
$footer-height: 6rem;

//Cards 
