// Declaracion de variables del proyecto

// Anchura maxima del contenido desktop
$max-width: 1200px;
$min-width: 320px;

// ------------- Colores --------------
$primary-color     : #FFEEEE;
$primary-color-alt : #FFF6EA;

// ------------- Tamaños --------------
$header-height: 7.5rem;
$header-height-mob: 6.5rem;
$footer-height: 5rem;
$margin-section: 10px;

// Banner ofertas
$offer-height: 180px;

// Banner publicidad
$ads-height: 160px;

//Cards 
$card-heigth: 250px;
