// CSS general

// Reset 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
        background-color: #FEE3EC;
}

a {text-decoration: none;}

